In [1]:
import sys
sys.path.append('../')

import pandas as pd

In [2]:
competitors = pd.read_parquet('../data/raw/competitors.parquet.gzip')
parents = pd.read_parquet('../data/raw/parents.parquet.gzip')
partners = pd.read_parquet('../data/raw/partners.parquet.gzip')
suppliers = pd.read_parquet('../data/raw/suppliers.parquet.gzip')
info = pd.read_parquet('../data/raw/entity_info.parquet.gzip')

In [3]:
competitors.head()

,source_id,target_id,start_date,source_name,targte_name,type
0,50472,58267,2020-03-23,"Infinity Pharmaceuticals, Inc.",Innate Pharma SA,COMPETES
1,282940,4383,2020-03-23,"Bozhon Precision Industry Technology Co., Ltd.",National Instruments Corp.,COMPETES
2,50472,247699,2020-03-23,"Infinity Pharmaceuticals, Inc.","NextCure, Inc.",COMPETES
3,313953,29664,2020-03-23,Quaker Houghton,"Yushiro Chemical Industry Co., Ltd.",COMPETES
4,313953,129287,2020-03-23,Quaker Houghton,Petrofer GmbH,COMPETES

In [4]:
parents.head()

,source_id,target_id,start_date,source_name,targte_name,type
0,265502,369980,2022-04-01,Linde Plc,"Wahlco Environmental Systems, Inc.",ULTIMATE_PARENT_OF
1,318,3840,2022-04-01,"Verizon Communications, Inc.",Western Wireless Corp.,ULTIMATE_PARENT_OF
2,292835,3841,2022-04-01,Truist Financial Corp.,"Main Street Banks, Inc. (Atlanta, Georgia)",ULTIMATE_PARENT_OF
3,1971,3843,2022-04-01,"The PNC Financial Services Group, Inc.",Yardville National Bancorp,ULTIMATE_PARENT_OF
4,25278,3844,2022-04-01,"Toray Industries, Inc.","Zoltek Cos., Inc.",ULTIMATE_PARENT_OF

In [5]:
partners.head()

,source_id,target_id,start_date,source_name,targte_name,type
0,323302,97940,2021-12-08,"& Factory, Inc.",Amix Co. Ltd.,PARTNERS
1,323302,313319,2021-12-08,"& Factory, Inc.","Mirror Fit Co., Ltd.",PARTNERS
2,323302,150832,2021-12-08,"& Factory, Inc.",Housecom Corp.,PARTNERS
3,323302,313325,2021-12-08,"& Factory, Inc.",Miyoshi Real Estate Co. Ltd.,PARTNERS
4,323302,137558,2021-12-08,"& Factory, Inc.",Maeda & Co. Ltd.,PARTNERS

In [6]:
suppliers.head()

,source_id,target_id,revenue_pct,start_date,source_name,targte_name,type
0,46216,317277,NaN,2018-08-25,Ever Team Software SAS,GFI Informatique SA,SUPPLIES
1,323302,362405,12.0,2021-12-08,"& Factory, Inc.","Shogakukan, Inc.",SUPPLIES
2,323302,96117,34.1,2021-12-08,"& Factory, Inc.","Square Enix Holdings Co., Ltd.",SUPPLIES
3,323302,362527,19.5,2021-12-08,"& Factory, Inc.","Shueisha, Inc.",SUPPLIES
4,323304,282371,NaN,2021-02-17,(B. Y.) Medimor Ltd.,InMode Ltd.,SUPPLIES

In [7]:
info.head()

,id,sector,industry,nace_description,code
0,93528,Process Industries,Agricultural Commodities/Milling,"Growing of cereals (except rice), leguminous c...",01.11
1,72520,Process Industries,Agricultural Commodities/Milling,"Growing of cereals (except rice), leguminous c...",01.11
2,64667,Process Industries,Agricultural Commodities/Milling,"Growing of cereals (except rice), leguminous c...",01.11
3,278227,Process Industries,Agricultural Commodities/Milling,"Growing of cereals (except rice), leguminous c...",01.11
4,72518,Process Industries,Agricultural Commodities/Milling,"Growing of cereals (except rice), leguminous c...",01.11

In [8]:
suppliers['revenue_pct'] = suppliers['revenue_pct'].fillna(-999)

In [9]:
companies_source = pd.concat([competitors[['source_id','source_name']],
                      parents[['source_id','source_name']],
                      partners[['source_id','source_name']],
                      suppliers[['source_id','source_name']]],
                             ).drop_duplicates().rename(columns={'source_id': 'id', 'source_name': 'name'})
companies_target = pd.concat([competitors[['target_id','targte_name']],
                      parents[['target_id','targte_name']],
                      partners[['target_id','targte_name']],
                      suppliers[['target_id','targte_name']]],
                      ).drop_duplicates().rename(columns={'target_id':'id','targte_name':'name'})

In [10]:
companies = pd.concat([companies_source,companies_target]).drop_duplicates()

In [11]:
companies.to_csv('../data/processed/companies.csv',index=True, index_label='index')

In [12]:
competitors = competitors[['source_id','target_id','start_date','type']]
parents = parents[['source_id','target_id','start_date','type']]
partners = partners[['source_id','target_id','start_date','type']]
suppliers = suppliers[['source_id','target_id','revenue_pct','start_date','type']]

In [13]:
competitors.to_csv('../data/processed/competitors.csv',index=True, index_label='index')
parents.to_csv('../data/processed/parents.csv',index=True, index_label='index')
partners.to_csv('../data/processed/partners.csv',index=True, index_label='index')
suppliers.to_csv('../data/processed/suppliers.csv',index=True, index_label='index')
info.to_csv('../data/processed/info.csv',index=True, index_label='index')

In [19]:
len(info.industry.unique())

137